{% extends "../layout.njk" %}

{% block head %}
    <title>FoodFy | Receitas</title>
{% endblock %}

{% block filter %}
<form action="/recipes" method="get" class="form-filter">
    <input type="text" name="filter" placeholder="Filtrar por nome da receita" value="{{filter}}">
    <button type="submit" class="filter">Filtrar</button>
</form>

{% endblock filter%}
{% block content %}

    <section class="card-area">
        <div class="cards recipes container">
            {% for item in items %}
            
                <div class="card" id={{item.id}}>
                    <a href="/recipes/{{item.id}}">
                        <div class="card__image">
                            <img src="{{item.img}}" >
                        </div>
                        <div class="card__info">
                            <p class="title__card">{{item.title}}</p>
                            <p class="info__card">por {{item.chef.name}}</p>
                        </div>
                    </a>
                </div>

                {% endfor %}

             
        </div>
    </section>
{% endblock %}