{% extends "../admin_layout.njk" %}

{% block head %}
    <title>{{item.title}} | FoodFy</title>
{% endblock head %}

{% block content %}
    <section>
        <div class="gallery">
            <div class="image">
                <img src="{{item.img}}" alt="{{item.title}}">
            </div>      
        
            <div class="gallery_preview">
                {% for image in item.files %}
                    <img 
                        src="{{image.src}}"
                        alt="{{image.name}}" 
                        {% if loop.index0 == 0 %}
                        class="active"
                        {% endif %}
                        onclick="ImageGallery.setImage(event)">
                {% endfor %}
            </div>
        </div>
    

        <div class="title">

            <h1>{{item.title}}</h1>
            <p>por {{chef}}</p>

        </div>

        <div class="ingredients">
            <div class="grid">
                <h3>Ingredientes</h3>
                <p class="mostrar" id="pIngredients">Esconder</p>
            </div>


            <div class="ingredientsP" id="ingredientsP" >
                <ul>

                {% for ingredient in item.ingredients %}
                    <li>{{ingredient}}</li>
                {% endfor %}
                </ul>

            </div> 


        </div>

        <div class="prepare">
            <div class="grid">
                <h3>Modo de Preparo</h3>
                <p class="mostrar" id="pPrepare">Esconder</p>
            </div>


            <div class="prepareP" id="prepareP">
                {% for prepare in item.preparation %}
                    <li>{{prepare}}</li>
                {% endfor %}
            </div>

        </div>

        <div class="info">
            <div class="grid">
                <h3>Informações Adicionais</h3>
                <p class="mostrar" id="pInformation">Esconder</p>
            </div>

            <div class="infoP" id="infoP">
                <p>{{item.information}}</p>
            </div>

        </div>
    </section>

{% endblock %}