<link rel="stylesheet"  href="https://fonts.googleapis.com/icon?family=Material+Icons">
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap">
<link rel="shortcut icon" href="/assets/chef.svg" type="image/x-icon">
<link rel="stylesheet" href="/styles/style.css">
<link rel="stylesheet" href="/styles/admin.css">
<link rel="stylesheet" href="/styles/messages.css">
<link rel="stylesheet" href="/styles/cards.css">
<link rel="stylesheet" href="/styles/fields.css">
<link rel="stylesheet" href="/styles/chef.css">
<link rel="stylesheet" href="/styles/recipe.css">
<link rel="stylesheet" href="/styles/sobre.css">
<link rel="stylesheet" href="/styles/media.css">
<link rel="stylesheet" href="/styles/users.css">
